<div class="grid">
    <div class="row cells4">
        <div class="cell">xxx</div>
        <div class="cell colspan3">
            <div class="input-control text">
                <input type="text">
            </div>

        </div>
    </div>
</div>