

<h3 ng-if="vm.selectedUser">Edit User</h3>
<h3 ng-if="!vm.selectedUser">Create User</h3>


<form id="frmUser" name="frmUser" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000" novalidate="novalidate">
    <div class="grid">
            
        <div class="row">
            <div class="cell">
                <label>Username</label>
                <div class="input-control text full-size">
                    <input ng-model="vm.editingUser.Username" type="text" placeholder="Username" data-validate-func="required" data-validate-hint="This field cannot be empty!" style="padding-right: 5px;" required>
                    <span class="input-state-error mif-warning" style="right: 8px;"></span>
                    <span class="input-state-success mif-checkmark" style="right: 8px;"></span>
                </div>
            </div>
        </div>
                
        <div class="row">
            <div class="cell">
                <label>Password</label>
                <div class="input-control text full-size">
                    <input ng-model="vm.editingUser.Password" type="password" placeholder="Password" data-validate-func="required" data-validate-hint="This field cannot be empty!" style="padding-right: 5px;" required>
                    <span class="input-state-error mif-warning" style="right: 8px;"></span>
                    <span class="input-state-success mif-checkmark" style="right: 8px;"></span>
                </div>
            </div>
        </div>
                
        <div class="row">
            <div class="cell">
                <label>Email</label>
                <div class="input-control text full-size">
                    <input ng-model="vm.editingUser.Email" type="email" placeholder="Email" data-validate-func="required" data-validate-hint="This field cannot be empty!" style="padding-right: 5px;" required>
                    <span class="input-state-error mif-warning" style="right: 8px;"></span>
                    <span class="input-state-success mif-checkmark" style="right: 8px;"></span>
                </div>
            </div>
        </div>
                
    </div>
    <hr class="thin">
    <div class="form-actions padding10 no-padding-left">
        <button ng-disabled="frmUser.$invalid" class="button primary" type="button" ng-click="vm.saveUser()"><span class="mif-checkmark"></span>&nbsp; Save</button>
    </div>

</form>
