<div ng-controller="UsersController as vm">
    

    <table datatable="ng" class="row-border dataTable striped border bordered admin-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.users">
            <td>{{user.Id}}</td>
            <td>{{user.Username}}</td>
            <td>{{user.Email}}</td>
        </tr>
        </tbody>
    </table>
</div>
