<div ng-controller="UsersController">
    <table datatable="" class="row-border dataTable hover" dt-options="dtOptions" dt-columns="dtColumns">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>admin</td>
            <td>admin@mail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>demo</td>
            <td>demo@mail.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>random</td>
            <td>random@mail.com</td>
        </tr>
        </tbody>
    </table>
</div>
@section scripts{

}