<div ng-controller="UsersController">
    {{SelectedUser}}
    <table datatable="" class="row-border dataTable striped border bordered" dt-options="dtOptions" dt-columns="dtColumns">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@section scripts{

}