
<ul class="sidebar2 darcula">
    <li ng-repeat="page in Pages" class="{{}}">
        <a href="#">
            <span class="{{page.Icon}} icon"></span>
            <span class="title">{{page.Name}}</span>
        </a>
    </li>
         
</ul>