<div class="padding10 bg-red fg-white text-accent">WARNING! This will reset your data to HomeSeer defaults. Rooms and Devices information will be lost. Proceed with caution.</div>

<button class="command-button warning" ng-click="">
    <span class="icon mif-warning"></span>
    Reset
    <small>This is your last warning.</small>
</button>