@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1><a href="/Admin/#/" class="nav-button transform"><span></span></a>&nbsp;{{SelectedPage.Title}}
<span class="{{SelectedPage.Icon}} place-right"></span></h1>
<hr class="thin bg-grayLighter">

<div ng-view></div>


@section scripts{

@*external libraries*@
<script src="~/Scripts/angular-datatables.js"></script>

@*services*@
<script src="~/app/services/usersDataService.js"></script>

@*controllers*@
<script src="~/app/admin/usersController.js"></script>

}