@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1><a href="/Admin/#/" class="nav-button transform"><span></span></a>&nbsp;{{vm.selectedPage.Title}}
<span class="{{vm.selectedPage.Icon}} place-right"></span></h1>
<hr class="thin bg-grayLighter">

<div ng-view></div>


@section scripts{

@*external libraries*@
<script src="~/Scripts/angular-datatables.js"></script>

@*services*@
<script src="~/app/services/usersDataService.js"></script>
<script src="~/app/services/roomsDataService.js"></script>
<script src="~/app/services/deviceDataService.js"></script>

@*controllers*@
<script src="~/app/admin/usersController.js"></script>
<script src="~/app/admin/roomsController.js"></script>
<script src="~/app/admin/devicesController.js"></script>

@*directives*@
<script src="~/app/admin/directives/userForm.js"></script>
<script src="~/app/admin/directives/roomForm.js"></script>
<script src="~/app/admin/directives/deviceForm.js"></script>
}