
@model SNSRi.Web.PageTypes.ArticlePageType
 
@{
    Layout = "~/Views/Shared/_landingPage.cshtml";
}


<div class="tile-group">
<div class="grid">
    <div class="row cells4">
        <div class="cell colspan3">
            <h1 class="leader">@Model.Heading.Value</h1>
            <p>
                @Html.Raw(Model.MainBody.Value)
            </p>
        </div>
        <div class="cell">

            <h3>News</h3>

            <p>No news available</p>

        </div>
    </div>
</div>
</div>


