
<div ng-controller="devicesController as vm">
    

    <button class="button success" ng-click="vm.createDevice()"><span class="mif-plus"></span> Create</button>
    <hr class="thin bg-grayLighter">
    
    <div cg-busy="vm.loadingIndicator">
        <table datatable="ng" dt-instance="vm.dtInstance" class="row-border dataTable striped border bordered admin-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ref Id</th>
                <th>Status</th>
                <th>Value</th>
                <th>Hidden</th>
                <th>Tile Group</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="device in vm.devices">
                <td>{{device.Id}}</td>
                <td>{{device.Name}}</td>
                <td>{{device.ReferenceId}}</td>
                <td>{{device.Status}}</td>
                <td>{{device.Value}}</td>
                <td>{{device.HideFromView}}</td>
                <td>{{device.TileGroup}}</td>
                <td>
                    <div class="place-right">
                        <button class="button primary small-button" ng-click="vm.editDevice(device)"><span class="mif-pencil"></span>&nbsp; Edit</button>
                        <button class="button danger small-button" ng-click="vm.deleteDevice(device)"><span class="mif-bin"></span>&nbsp; Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div data-role="dialog" role="dialog" id="dialog-deviceform" data-overlay="true" class="padding20 dialog" data-close-button="true" data-width="500px">
        <device-form></device-form>
    </div>

</div>
