
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model SNSRi.Api.Models.SimpleLoginModel

<form method="post" action="/Account/Login">
    <h1 class="text-light">Login to SNSRi</h1>
    <hr class="thin"/>
    <br />
    <div class="input-control text full-size" data-role="input">
        @Html.LabelFor(m=>m.Email)
        @Html.TextBoxFor(m=>m.Email)
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <br />
    <br />
    <div class="input-control password full-size" data-role="input">
        @Html.LabelFor(m=>m.Password)
        @Html.PasswordFor(m=>m.Password)
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <br />
    <br />
    <div class="form-actions">
        <button type="submit" class="button primary">Login</button>
        <p>for demo purposes, use demo@mail.com/demo</p>
    </div>
</form>

