
<div ng-controller="DevicesController">
<div style="margin-left:80px;" ng-if="RoomResidents.length > 0">
Residents: <span ng-repeat="resident in RoomResidents">{{resident.Firstname}} {{resident.Lastname}}</span>
</div>

<div ng-repeat="deviceGroup in DeviceGroups">

    <div tile-group tile-area class="tile-group" ng-class="sizeOfGroup(deviceGroup.Devices.length)">

        <span class="tile-group-title" ng-if="deviceGroup.TileGroup != 'null'">
        &nbsp; {{deviceGroup.TileGroup}} 
        </span>
        <span class="tile-group-title" ng-if="deviceGroup.TileGroup == 'null'">
        &nbsp; General
        </span>
        <div class="tile-container">
  
            <div ng-repeat="device in deviceGroup.Devices">
                <device-tile device="device"></device-tile>
            </div>
        </div>
    </div>

</div>

</div>



@section scripts {

}
