<div class="tile fg-white   bg-green" data-role="tile">
    <div class="tile-content iconic" id="{{device.Id}}">
        <div ng-click="Clicked(device)" style="position:absolute; width:150px;height:150px;top:0px;">   
            <div data-bind="visible: locationIsVisible">
                <p class="v-align-top align-center margin5 uppercase" style="font-size: 14px" data-bind="text: location">{{device.Name}}</p>
            </div>
            
            <span class="tile-label" data-bind="text: deviceName() + ' ' + statusLabel()">{{device.Status}} ({{device.Value}})</span>
            <img class="icon" ng-src="{{HomeSeerUrl}}{{HomeSeer.status_image}}">
        </div>        
    </div>
</div>