
<div tile-group tile-area class="tile-group seven" ng-controller="DevicesController">
    <span class="tile-group-title">
    <a href="#/">
        <span class="mif-arrow-left fg-white" style="margin-bottom: 3px;"></span>
    </a>
    &nbsp; {{Room.Name}}
    </span>
    <div class="tile-container">
  
        <div ng-repeat="device in Devices">
            <device-tile device="device"></device-tile>
        </div>
       
    </div>
</div>



@section scripts {

}
