<div data-role="charm" id="charmEvents">
    <h1 class="text-light">Events</h1>
    <hr class="thin" />
    <br />
    <div class="grid condensed" style="overflow-y: auto; height: 91%;">

        <div class="row cells4 action-item" ng-repeat="ticket in vm.tickets">
            <event-tile></event-tile>
        </div>

        
    </div>
    <div>

    </div>
</div>

