
<div class="row cells4 action-item event-item" ng-click="vm.editTicket(ticket)">
    <div class="cell">
        <span class="action-item icon mif-mail"></span>
    </div>
    <div class="cell colspan3 hover"  >

        <h4>{{ticket.Name}}</h4>
        <p>{{ticket.Description}}</p>
        <p>{{ticket.CreatedOn | date}}</p>
    </div>
</div>