@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_startScreen.cshtml";
}

<div id="main">
    <div ng-view></div>
</div>




@section scripts {
<script src="~/app/roomsController.js"></script>
}