<a href="/Home/#/Devices/{{room.Id}}" ng-click="changeRoom(room.Id)" class="tile bg-darkBlue fg-white" data-role="tile">
    <div class="tile-content iconic">
        <span class="align-center vertical" style="overflow: hidden;">
        <h2 style="margin-top:50px;">{{room.Name}}</h2>
        </span>
    </div>
    <span class="tile-label"></span>
</a>
