<div tile-group tile-area class="tile-group seven" ng-controller="RoomsController">
    <span class="tile-group-title">Rooms</span>
    <div class="tile-container">
  
        <div ng-repeat="room in Rooms">
            <room-tile room="room"></room-tile>
        </div>
       
    </div>
</div>