<a href="#/Devices/{{room.Id}}" ng-click="changeRoom(room.Id)" class="tile bg-darkBlue fg-white" data-role="tile">
    <div class="tile-content iconic">
        <span class="icon mif-hotel"></span>
    </div>
    <span class="tile-label">{{room.Name}}</span>
</a>
