<div class="main-content clear-float">
    <div class="tile-area no-padding">
        <div class="tile-group no-margin no-padding" style="width: 100%">
            <div class="tile-large tile-super-y bg-gray ol-transparent" style="float: right; ">
                <div class="tile-content">
                    <div class="brand padding10">
                        <h3 class="fg-white">Adverts</h3>
                        <!-- Google adsense block -->
                        <div><ins class="adsbygoogle" style="display:block; display: none !important;" data-ad-client="ca-pub-1632668592742327" data-ad-slot="8347181909" data-ad-format="auto" ehu5ljp="" hidden=""></ins></div>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                        <!-- End of gad block -->
                        <!-- Google adsense block -->
                        <br>
                        <br>
                        <div><ins class="adsbygoogle" style="display:block; display: none !important;" data-ad-client="ca-pub-1632668592742327" data-ad-slot="8347181909" data-ad-format="auto" ehu5ljp="" hidden=""></ins></div>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                        <!-- End of gad block -->
                    </div>
                </div>
            </div>

            <div class="tile-large ol-transparent" data-role="tile">
                <div class="tile-content">
                    <div class="carousel" data-role="carousel" data-height="100%" data-width="100%" data-controls="false" style="width: 100%; height: 310px;">
                        <div class="slide" style="display: block; left: 0px;">
                                    
                        <div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/1.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                        <div class="slide" style="display: block; left: -310px;">
                                    
                        <div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/2.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                        <div class="slide" style="display: block; left: -310px;">
                                    
                        <div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/3.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                    <div class="carousel-bullets"><a class="carousel-bullet bullet-on" href="javascript:void(0)" data-num="0"></a><a class="carousel-bullet" href="javascript:void(0)" data-num="1"></a><a class="carousel-bullet" href="javascript:void(0)" data-num="2"></a></div></div>
                </div>
            </div>
            <div class="tile bg-lightBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-windows"></span>
                </div>
            </div>
            <div class="tile bg-orange fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-music"></span>
                </div>
            </div>
            <div class="tile bg-teal fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-facebook"></span>
                </div>
            </div>
            <div class="tile bg-green fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-twitter"></span>
                </div>
            </div>

            <div class="tile-big tile-wide-y bg-white" data-role="tile">
                <div class="tile-content">
                    <div class="panel" style="height: 100%">
                        <div class="heading bg-darkRed fg-white"><span class="title text-light">news</span></div>
                        <div class="content fg-dark clear-float" style="height: 100%">
                            <img src="../images/jeki_chan.jpg" class="place-left margin10" style="height: 230px">
                            <h2 class="text-light">Growing Old Before Growing Up</h2>
                            <p>Jackie Chan’s new book “Growing Old Before Growing Up” 《還沒長大就老了》, written by Zhu Mo, was released on his birthday on April 7, 2015, during a press conference held in Beijing.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile tile-wide-y bg-white" data-role="tile">
                <div class="tile-content">
                    <div class="panel">
                        <div class="heading bg-pink fg-white"><span class="title text-light">entertainment</span></div>
                        <div class="content bg-lightPink fg-white clear-float">
                            <img src="../images/jek_vorobey.jpg" class="">
                            <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since.
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End first group -->

        <div class="tile-group no-margin no-padding" style="width: 100%">
            <div class="tile-wide bg-cyan" data-role="tile">
                <div class="tile-content image-set">
                    <img src="../images/jeki_chan.jpg">
                    <img src="../images/shvarcenegger.jpg">
                    <img src="../images/vin_d.jpg">
                    <img src="../images/jolie.jpg">
                    <img src="../images/jek_vorobey.jpg">
                </div>
            </div>
            <div class="tile bg-green" data-role="tile" data-effect="slideUpDown">
                <div class="tile-content">
                    <div class="live-slide" style="top: 150px;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/jeki_chan.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                    <div class="live-slide" style="top: 0px; display: block;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/shvarcenegger.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                    <div class="live-slide" style="top: 150px; display: block;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/vin_d.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                    <div class="live-slide" style="top: -150px; display: block;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/jolie.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                    <div class="live-slide" style="top: -150px; display: block;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/jek_vorobey.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                </div>
            </div>
            <div class="tile bg-green" data-role="tile" data-effect="slideLeftRight">
                <div class="tile-content">
                    <div class="live-slide" style="left: 150px;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/vin_d.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                    <div class="live-slide" style="left: 0px; display: block;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/jolie.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                    <div class="live-slide" style="left: 150px; display: block;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/jek_vorobey.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                    <div class="live-slide" style="left: -150px; display: block;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/jeki_chan.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                    <div class="live-slide" style="left: -150px; display: block;"><div class="image-container image-format-fill" style="width: 100%; height: 100%;"><div class="frame"><div style="width: 100%; height: 100%; background-image: url(&quot;../images/shvarcenegger.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div></div></div></div>
                </div>
            </div>
            <div class="tile-wide bg-red" data-role="tile">
                <div class="tile-content image-set">
                    <img src="../images/jeki_chan.jpg">
                    <img src="../images/shvarcenegger.jpg">
                    <img src="../images/vin_d.jpg">
                    <img src="../images/jolie.jpg">
                    <img src="../images/jek_vorobey.jpg">
                </div>
            </div>
        </div>


        <h3 class="fg-orange text-light margin5">NEWS <span class="mif-chevron-right mif-2x" style="vertical-align: top !important;"></span></h3>
        <div class="tile-group no-margin no-padding" style="width: 100%;">
            <div class="tile-large ol-transparent" data-role="tile"></div>
            <div class="tile-wide ol-transparent" data-role="tile"></div>
            <div class="tile ol-transparent" data-role="tile"></div>
            <div class="tile ol-transparent" data-role="tile"></div>
            <div class="tile ol-transparent" data-role="tile"></div>
            <div class="tile ol-transparent" data-role="tile"></div>
            <div class="tile-wide ol-transparent" data-role="tile"></div>
        </div>

        <h3 class="fg-blue text-light margin5">SPORT <span class="mif-chevron-right mif-2x" style="vertical-align: top !important;"></span></h3>
        <div class="tile-group no-margin no-padding" style="width: 100%;">
            <div class="tile-large ol-transparent" data-role="tile"></div>
            <div class="tile-wide ol-transparent" data-role="tile"></div>
            <div class="tile ol-transparent" data-role="tile"></div>
            <div class="tile ol-transparent" data-role="tile"></div>
            <div class="tile ol-transparent" data-role="tile"></div>
            <div class="tile ol-transparent" data-role="tile"></div>
            <div class="tile-wide ol-transparent" data-role="tile"></div>
        </div>
    </div>
</div>