.tile-area-controls {
    position: fixed;
    right: 40px;
    top: 40px;
}

/*.tile-group {
    left: 100px;
}*/

.tile, .tile-small, .tile-sqaure, .tile-wide, .tile-large, .tile-big, .tile-super {
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

#charmSettings .button {
    margin: 5px;
}

.schemeButtons {
    /*width: 300px;*/
}

.action-item {
    max-width: 250px;
}


.action-item.icon {
    position: absolute;
    width: 42px;
    height: 42px;
    font-size: 42px;
    top: 50%;
    margin-top: 10px;
    left: 50%;
    margin-left: -32px;
    text-align: center;
}

.tile-container .tile {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    transition: .3s;
}



/*.fade {
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}*/



.tile.ng-enter {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    transition: .3s
}