<style>
    /*.input-control select {
        width: 100% !important;
        padding-right: 57px;
    }*/
</style>
<div class="grid">
    <div class="row">
        <div class="input-control text full-size" data-role="input">
            <select id="newdevices" name="newdevices"
                ng-model="rdvm.selectedDevice" 
                ng-options="device.Name for device in rdvm.devices track by device.Id">
            </select>
            <button class="button success" ng-disabled="!rdvm.selectedDevice" ng-click="rdvm.addDevice(rdvm.selectedDevice)"><span class="mif-plus"></span></button>
        </div>
    </div>

</div>
