
<div ng-controller="roomsController as vm">
    

    <button class="button success" ng-click="vm.createRoom()"><span class="mif-plus"></span> Create</button>
    <hr class="thin bg-grayLighter">
    
    <div cg-busy="vm.loadingIndicator">
        <table datatable="ng" dt-instance="vm.dtInstance" class="row-border dataTable striped border bordered admin-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Sort Order</th>
                <th>Hidden</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="room in vm.rooms">
                <td>{{room.Id}}</td>
                <td>{{room.Name}}</td>
                <td>{{room.Description}}</td>
                <td>{{room.SortOrder}}</td>
                <td>
                    <label class="switch-original">
                        <input type="checkbox" ng-model="room.IsHidden" disabled>
                        <span class="check"></span>
                    </label>
                </td>
                <td>
                    <div class="place-right">
                        <button class="button primary small-button" ng-click="vm.editRoom(room)"><span class="mif-pencil mif-sm"></span>&nbsp; Edit</button>
                        <button class="button danger small-button" ng-click="vm.deleteRoom(room)"><span class="mif-bin"></span>&nbsp; Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div data-role="dialog" role="dialog" id="dialog-roomform" data-overlay="true" class="padding20 dialog" data-close-button="true" data-width="500px">
        <div class="tabcontrol">
            <ul class="tabs">
                <li ng-class="{'active':vm.selectedTab===1}"><a href="javascript:void(0);" ng-click="vm.selectTab(1)">Room</a></li>
                <li ng-class="{'active':vm.selectedTab===2}" ng-show="vm.selectedRoom"><a href="javascript:void(0);" ng-click="vm.showDevices()">Devices</a></li>
            </ul>
            <div class="frames">
                <div class="frame bg-white" id="room" ng-show="vm.selectedTab===1">
                    <room-form></room-form>
                </div>
                <div class="frame bg-white" id="devices" ng-show="vm.selectedTab===2">
                    <add-room-device></add-room-device>
                    <room-devices-form></room-devices-form>
                </div>
            </div>
        </div>
    </div>

</div>
