
<div class="grid">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Device</th>
            <th>Hidden</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in roomDevices">
            <td>{{device.Id}}</td>
            <td>{{device.Name}}</td>
            <td>{{device.HideFromView}}</td>
            <td><button class="button small-button danger" ng-click="vm.removeDevice(device)"><span class="mif-bin"></span></button></td>
        </tr>
        </tbody>
    </table>
</div>
