<div class="tile-area-controls">
    <button class="image-button icon-right bg-transparent fg-white bg-grayDark bg-hover-dark no-border">
        <span class="sub-header no-margin text-light">@Context.User.Identity.Name</span> 
        <span class="icon mif-user"></span>
    </button>
    <button class="square-button bg-transparent fg-white bg-grayDark bg-hover-dark no-border" ng-click="openEvents()"><span class="mif-mail"></span></button>
    <button class="square-button bg-transparent fg-white bg-grayDark bg-hover-dark no-border" ng-click="openThemes()"><span class="mif-paint"></span></button>
    <a href="/Admin/#/Users/" class="square-button bg-transparent fg-white bg-grayDark bg-hover-dark no-border"><span class="mif-cog"></span></a>
    <a href="/Account/Logout" class="square-button bg-transparent fg-white bg-grayDark bg-hover-dark no-border"  onclick="return confirm('Are you sure you want to logout?');" ><span class="mif-switch"></span></a>
</div>